In [201]:
import pandas as pd
data = pd.read_csv('heart.csv') #read csc value
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [81]:
data.shape

(918, 12)

In [82]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

# Filtering Outliers

In [83]:
data[ data.Cholesterol > (data.Cholesterol.mean() + 3 * data.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [84]:
data1 = data[data.Cholesterol <= (data.Cholesterol.mean() + 3 * data.Cholesterol.std())]
data1.shape

(915, 12)

In [85]:
data[data.RestingBP > (data.RestingBP.mean() + 3 * data.RestingBP.std())].head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1

In [121]:
data[data.RestingBP > (data.RestingBP.mean() + 3 * data.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [122]:
data[data.RestingBP > (data.RestingBP.mean() + 3 * data.RestingBP.std())].shape

(7, 12)

In [125]:
data2 = data1[data1.RestingBP <= (data1.RestingBP.mean() + 3 * data1.RestingBP.std())]
data2.shape

(908, 12)

In [88]:
data[data.MaxHR > (data.MaxHR.mean() + 3 * data.MaxHR.std())].shape

(0, 12)

In [126]:
data[data.Oldpeak > (data.Oldpeak.mean() + 3 * data.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [89]:
data[data.Oldpeak > (data.Oldpeak.mean() + 3 * data.Oldpeak.std())].shape

(6, 12)

In [58]:
data3 = data2[data2.Oldpeak <= (data2.Oldpeak.mean() + 3 * data2.Oldpeak.std())]
data3.shape

(902, 12)

In [202]:
data3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

# Displaying unique value to convert numeric

In [91]:
data3.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [92]:
data3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [93]:
data3.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [94]:
data3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

# Now converting to numeric value form string

In [98]:
data4 = data3.copy()
data4.Sex = data4.Sex.map({'M': 1, 'F': 0})
data4.ChestPainType = data4.ChestPainType.map({'ATA': 0, 'NAP': 1, 'ASY': 2, 'TA':3})
data4.RestingECG = data4.RestingECG.map({'Normal': 0, 'ST': 1, 'LVH': 2})
data4.ExerciseAngina = data4.ExerciseAngina.map({'Y': 1, 'N': 0})
data4.ST_Slope = data4.ST_Slope.map({'Up': 0, 'Flat': 1, 'Down': 2})

In [103]:
data4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,0,140,289,0,0,172,0,0.0,0,0
1,49,0,1,160,180,0,0,156,0,1.0,1,1
2,37,1,0,130,283,0,1,98,0,0.0,0,0
3,48,0,2,138,214,0,0,108,1,1.5,1,1
4,54,1,1,150,195,0,0,122,0,0.0,0,0

In [108]:
y = data4.HeartDisease
x = data4.drop('HeartDisease', axis = 'columns')

In [113]:
#scalling the input 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaler = scaler.fit_transform(x)
print(x_scaler)

[[-1.42896269  0.51485643 -1.6990351  ... -0.82065181 -0.84676261
  -1.0456339 ]
 [-0.47545956 -1.94228905 -0.52558207 ... -0.82065181  0.14079864
   0.62072967]
 [-1.74679706  0.51485643 -1.6990351  ... -0.82065181 -0.84676261
  -1.0456339 ]
 ...
 [ 0.37209878  0.51485643  0.64787097 ...  1.21854359  0.33831089
   0.62072967]
 [ 0.37209878 -1.94228905 -1.6990351  ... -0.82065181 -0.84676261
   0.62072967]
 [-1.64085227  0.51485643 -0.52558207 ... -0.82065181 -0.84676261
  -1.0456339 ]]

In [203]:
#splitting the data to train and test the model
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaler, y, test_size = 0.2, random_state = 2)

In [116]:
len(x_train)

721

In [117]:
len(y_train)

721

In [118]:
len(x_test)

181

In [120]:
from sklearn.ensemble import RandomForestClassifier
rm_model = RandomForestClassifier()
rm_model.fit(x_train, y_train)
rm_model.score(x_test, y_test)

0.856353591160221

In [127]:
x.shape

(902, 11)

# Now use PCA for reducing dimention

In [196]:
from sklearn.decomposition import PCA
pca = PCA(0.9998)
x_pca = pca.fit_transform(x)
x_pca.shape

(902, 5)

In [199]:
x_train, x_test, y_train, y_test = train_test_split(x_pca, y, test_size = 0.2, random_state = 2)

In [200]:
from sklearn.ensemble import RandomForestClassifier
rm_model = RandomForestClassifier()
rm_model.fit(x_train, y_train)
rm_model.score(x_test, y_test)

0.8176795580110497