In [2]:
import pandas as pd
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.shape

(918, 12)

# Treat Outliers

In [4]:
df[df.Cholesterol > df.Cholesterol.mean() + 3 * df.Cholesterol.std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [5]:
df[df.Cholesterol > df.Cholesterol.mean() + 3 * df.Cholesterol.std()].shape

(3, 12)

In [6]:
df1 = df[df.Cholesterol <= df.Cholesterol.mean() + 3 * df.Cholesterol.std()]

In [13]:
df1.shape

(915, 12)

In [7]:
 df[df.RestingBP > df.RestingBP.mean() + 3 * df.RestingBP.std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [8]:
 df[df.RestingBP > df.RestingBP.mean() + 3 * df.RestingBP.std()].shape

(7, 12)

In [11]:
 df2 = df1[df1.RestingBP <= df1.RestingBP.mean() + 3 * df1.RestingBP.std()]

In [12]:
df2.shape

(908, 12)

In [15]:
df2[df2.MaxHR> df2.MaxHR.mean() + 3 * df2.MaxHR.std()]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [20]:
df2[df2.Oldpeak> df2.Oldpeak.mean() + 3 * df2.Oldpeak.std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [22]:
df2[df2.Oldpeak> df2.Oldpeak.mean() + 3 * df2.Oldpeak.std()].shape

(6, 12)

In [24]:
df3 = df2[df2.Oldpeak <= df2.Oldpeak.mean() + 3 * df2.Oldpeak.std()]

In [25]:
df3.shape

(902, 12)

# Label Encoding

In [81]:
df4 = df3.copy()
df4.ExerciseAngina = df4.ExerciseAngina.map(
    {
        'N': 0,
        'Y': 1
    },
    )

df4.ST_Slope = df4.ST_Slope.map(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
   
)

df4.RestingECG = df4.RestingECG.map(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    )

df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0

In [82]:
df5 = pd.get_dummies(df4, drop_first=True)

In [83]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaler = scaler.fit_transform(df5.drop('HeartDisease', axis = 'columns'))
x_scaler

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [84]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test  =  train_test_split(x_scaler, df5.HeartDisease, test_size=0.2, stratify =   df5.HeartDisease, random_state=20)

In [85]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
svc_model = SVC()
scores = cross_val_score(SVC(), df5.drop('HeartDisease', axis = 'columns'),   df5.HeartDisease, cv = 5 )
scores.mean()

0.6906445672191528

In [86]:
import warnings
warnings.filterwarnings('ignore')

# Let's use Bagging technique

In [87]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(
    base_estimator = SVC(), 
    n_estimators = 100, 
    max_samples = 0.8,
    random_state = 2, 
    oob_score = True
)
scores = cross_val_score(bag_model, df5.drop('HeartDisease', axis = 'columns'),  df5.HeartDisease, cv = 5)

In [88]:
scores

array([0.63535912, 0.79558011, 0.69444444, 0.68888889, 0.60555556])

In [89]:
scores.mean()

0.6839656230816453

# Decision tree and then using bagging

In [73]:
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(random_state=0), df5.drop('HeartDisease', axis = 'columns'),  df5.HeartDisease, cv=5)
scores.mean()

0.7193984039287907

In [76]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(
    base_estimator = DecisionTreeClassifier(random_state = 0), 
    n_estimators = 100, 
    max_samples = 0.8,
    random_state = 2, 
    oob_score = True
)
scores = cross_val_score(bag_model, df5.drop('HeartDisease', axis = 'columns'),  df5.HeartDisease, cv = 5)
scores.mean()

0.8069920196439533

# Now let's try Random Forest which uses bagging

In [78]:
from sklearn.ensemble import RandomForestClassifier
rand_forest_model = RandomForestClassifier() 
scores = cross_val_score(rand_forest_model,  df5.drop('HeartDisease', axis = 'columns'),  df5.HeartDisease, cv = 5)

In [79]:
scores.mean()

0.8214732965009208