In [1]:
import pandas as pd
data = pd.read_csv("salaries.csv")
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
inputs = data.drop('salary_more_then_100k', axis = 'columns')
target = data['salary_more_then_100k']

In [3]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [4]:
inputs['company_le'] = le_company.fit_transform(inputs['company'])
inputs['job_le']     = le_job.fit_transform(inputs['job'])
inputs['degree_le']  = le_degree.fit_transform(inputs['degree'])

In [5]:
inputs.head()

  company                  job     degree  company_le  job_le  degree_le
0  google      sales executive  bachelors           2       2          0
1  google      sales executive    masters           2       2          1
2  google     business manager  bachelors           2       0          0
3  google     business manager    masters           2       0          1
4  google  computer programmer  bachelors           2       1          0

In [6]:
input_le = inputs.drop(['company', 'job', 'degree'], axis = 'columns')
input_le

    company_le  job_le  degree_le
0            2       2          0
1            2       2          1
2            2       0          0
3            2       0          1
4            2       1          0
5            2       1          1
6            0       2          1
7            0       1          0
8            0       0          0
9            0       0          1
10           1       2          0
11           1       2          1
12           1       0          0
13           1       0          1
14           1       1          0
15           1       1          1

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_le, target, test_size = 0.5)
y_test

11    1
13    1
3     1
6     0
14    1
12    1
0     0
1     0
Name: salary_more_then_100k, dtype: int64

In [8]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [9]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [10]:
model.predict(x_test)

array([1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

In [11]:
model.score(x_test, y_test)

0.75

In [12]:
 data = pd.read_csv("titanic.csv")

In [13]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
input = data.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 'columns')

In [15]:
input.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [17]:
input['Sex_le'] = le.fit_transform(input['Sex'])
input

     Survived  Pclass     Sex   Age     Fare  Sex_le
0           0       3    male  22.0   7.2500       1
1           1       1  female  38.0  71.2833       0
2           1       3  female  26.0   7.9250       0
3           1       1  female  35.0  53.1000       0
4           0       3    male  35.0   8.0500       1
..        ...     ...     ...   ...      ...     ...
886         0       2    male  27.0  13.0000       1
887         1       1  female  19.0  30.0000       0
888         0       3  female   NaN  23.4500       0
889         1       1    male  26.0  30.0000       1
890         0       3    male  32.0   7.7500       1

[891 rows x 6 columns]

In [18]:
input_le = input_le.drop("Survived", axis = 'columns')

KeyError: "['Survived'] not found in axis"

In [ ]:
input_le = input.drop(["Sex", 'Survived'], axis = 'columns')
target = input['Survived']

In [ ]:
input_le

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_le, target, test_size = 0.2)
y_train

In [ ]:
input_le

In [ ]:
from sklearn import tree
md = tree.DecisionTreeClassifier()

In [ ]:
md.fit(x_train, y_train)